force-app/main/default/flows/Available_Doctors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_To_JSON</name>
        <label>Format To JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DoctorFormatterInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doctors</name>
            <value>
                <elementReference>storeDoctors</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DoctorFormatterInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>doctorJSONList</assignToReference>
            <name>doctorsJSON</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Doctors</name>
        <label>Store Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeDoctors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fetchedDoctorList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_To_JSON</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Doctors</name>
        <label>Has Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_HealthProviders</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Doctors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Available Doctors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Available Doctors</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_HealthProviders</name>
        <label>Find HealthProviders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProviderType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Doctor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDepartment</elementReference>
            </value>
        </filters>
        <object>HealthcareProvider</object>
        <outputReference>fetchedDoctorList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Experience__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_HealthProviders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>doctorJSONList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fetchedDoctorList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
    <variables>
        <name>getDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeDoctors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
</Flow>
