force-app/main/default/flows/Cancel_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Result_Message</name>
        <label>Result Message</label>
        <locationX>402</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Appointment found successfully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_exisiting_service_apointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Cancel Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_exisiting_service_apointment</name>
        <label>Get exisiting service apointment</label>
        <locationX>241</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appointmentNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>545</locationX>
        <locationY>187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_exisiting_service_apointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancellationReason</field>
            <value>
                <elementReference>cancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>326</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_exisiting_service_apointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
