force-app/main/default/flows/Find_Doctors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Doctors_Info</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Doctors_Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Doctors.Name}
{!Loop_Doctors.Department__c}
{!Loop_Doctors.Experience__c}
{!Loop_Doctors.Location__c}

Format the response in a clear, well-structured, and user-friendly manner. Use bullet points or card-like sections for each doctor and include relevant emojis to enhance readability.
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Doctors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Doctors</name>
        <label>Store Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StoreDoctorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Doctors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Doctors_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Doctors</name>
        <label>Has Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doctors</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Doctors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Find Doctors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Doctors</label>
    <loops>
        <name>Loop_Doctors</name>
        <label>Loop Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Doctors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Doctors</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Fetch doctors Informartion.</description>
        <name>Get_Doctors</name>
        <label>Get Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Doctors</targetReference>
        </connector>
        <filterLogic>1 AND  (2 OR 3)</filterLogic>
        <filters>
            <field>ProviderType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Doctor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDepartment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getLocation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcareProvider</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Doctors</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>getDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreDoctorList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
</Flow>
